.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

